th {
  text-align: left;
}

td:not(:last-child) {
  border-right: 1px solid #777777;
  padding-right: 5px;
}

.file-explorer-file-info {
  cursor: pointer;
  transition: background-color 0.15s;
}

.file-explorer-file-info:hover {
  background-color: #ffff00;
}
