.timeline {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  will-change: transform;
}

.clip {
  background-color: #ffffffaa;
  border: 3px solid white;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: background-color 0.15s;
  height: 50px;
}

.clip:hover {
  background-color: #ffffff;
}

.clip-inner {
  width: 100%;
  height: 100%;
}

.timeline-numbers {
  will-change: transform;
  width: 100%;
  position: fixed;
  z-index: 3;
}