.app-panel {
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px;
} 

.close-panel-button {
  width: 18px;
  height: 18px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
}

.close-panel-button:hover {
  background: rgb(129, 32, 32);
}


.resize-horizontal {
  width: 10px;
  margin-right: -5px;
  margin-left: -5px;
  z-index: 1;
  height: 100%;
  cursor: col-resize;
  clear: both;
}

.resize-vertical {
  height: 10px;
  margin-top: -5px;
  margin-bottom: -5px;
  z-index: 1;
  width: 100%;
  cursor: row-resize;
}