body {
  background-color: #787878;
}

.app-panel {
  border-radius: 10px;
  margin: 0px;
  background: #dddddd;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 12px;
}

h2 {
  font-size: 16px;
  margin-bottom: 0;
}

input {
  border: none;
  margin-left: 5px;
  border-radius: 5px;
}

.app-panel-multiple {
  background: #787878;
}

.app-panel-single {
  margin: 1px;
}

.close-panel-button {
  width: 18px;
  height: 18px;
  border-top-left-radius: 50%;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
  font-size: 16px;
}

.close-panel-button svg {
  margin-left: -5px;
}

.close-panel-button:hover {
  background: rgb(129, 32, 32);
}

.add-panel-button {
  width: 18px;
  height: 18px;
  border-bottom-right-radius: 50%;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
  font-size: 16px;
}
.panel-type-selector {
  height: 18px;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
  margin: 0;
  font-size: 12px;
  width: 30px;
  outline: none;
  padding: 0;
  transform: translateY(-4px);
  outline: none;
}

.add-panel-button svg {
  margin-left: -5px;
}

.add-panel-button:hover {
  background: rgb(69, 188, 69);
}

.add-panel-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background: #dddddd;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: fixed;
}

.add-panel-container button {
  border-radius: 20px;
  border: none;
  background: #bbbbbb;
  color: white;
  display: grid;
  overflow: auto;
  padding: 0;
  transition: background-color 0.15s;
  cursor: pointer;
}
.add-panel-container button:hover {
  border-radius: 20px;
  border: none;
  background: #888888;
  color: white;
  display: grid;
  overflow: auto;
  padding: 0;
}

.add-panel-container button svg {
  width: 50%;
  height: 50%;
  align-self: center;
  justify-self: center;
  margin: -50%;
}

.resize-horizontal {
  width: 6px;
  margin-right: 0px;
  margin-left: 0px;
  z-index: 1;
  cursor: col-resize;
  position: fixed;
  right: 0px;
  height: 100%;
  top: 0;
}

.resize-vertical {
  height: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
  cursor: row-resize;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.resize-separator {
  background-color: #00000000;
  transition: background-color 0.2s;
  border-radius: 3px;
}

.resize-separator:hover {
  background-color: #00000033;
}

.file-tag {
  border-radius: 5px;
  background-color: #aaaaaa;
  padding: 1px 3px;
  margin-right: 2px;
}

.highlighted {
  background-color: yellow;
}

.helpable {
  display: inline;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.panel-root {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 5px;
}

.help-panel {
  margin: 10px;
  padding: 5px;
  margin-bottom: 30px;
  overflow-y: auto;
}

.helpable-info {
  background: #c1e1b9;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 4px;
  z-index: 99999999;
  font-family: sans-serif;
  font-size: 14px;
  pointer-events: none;
  overflow: hidden;
  min-width: 0;
}

.help-box-content {
  background: #eeeeee;
  border-radius: 15px;
  padding: 5px;
}

.is-active-panel {
  background-color: #bbbbbb;
}

kbd {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 2px 4px;
  font-size: 12px;
  font-family: sans-serif;
}

.add-panel-direction-button {
  width: 100%;
  height: 100%;
}
