
.app-panel {
  border-radius: 10px;
  margin: 0px;
  background: #dddddd;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 12px;
} 

.app-panel-multiple {
  background: #eeeeee;
}

.close-panel-button {
  width: 18px;
  height: 18px;
  border-top-left-radius: 50%;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
  font-size: 16px;
}

.close-panel-button svg {
  margin-left: -5px;
}

.close-panel-button:hover {
  background: rgb(129, 32, 32);
}

.add-panel-button {
  width: 18px;
  height: 18px;
  border-bottom-right-radius: 50%;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
  font-size: 16px;
}

.add-panel-button svg {
  margin-left: -5px;
}

.add-panel-button:hover {
  background: rgb(69, 188, 69);
}

.add-panel-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background: #dddddd;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.add-panel-container button {
  border-radius: 20px;
  border: none;
  background: #bbbbbb;
  color: white;
  display: grid;
  overflow: auto;
  padding: 0;
  transition: background-color 0.15s;
}
.add-panel-container button:hover {
  border-radius: 20px;
  border: none;
  background: #888888;
  color: white;
  display: grid;
  overflow: auto;
  padding: 0;
}

.add-panel-container button svg {
  width: 50%;
  height: 50%;
  align-self: center;
  justify-self: center;
  margin: -50%;
}



.resize-horizontal {
  width: 6px;
  margin-right: -1px;
  margin-left: -1px;
  z-index: 1;
  cursor: col-resize;
}

.resize-vertical {
  height: 6px;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 1;
  cursor: row-resize;
}

.resize-separator {
  background-color: #00000000;
  transition: background-color 0.2s;
  border-radius: 3px;
}

.resize-separator:hover {
  background-color: #00000033;
}